.regulamin-list {
  list-style-type: decimal;
  padding-left: 1.5em;
}

.regulamin-list > li {
  list-style-type: decimal;
  margin-left: 0;
  padding-left: 0;
}

.regulamin-list ol {
  list-style-type: decimal;
  margin-left: 1.5em;
  padding-left: 1.5em;
}

.regulamin-list ol > li {
  list-style-type: decimal;
  margin-left: 0;
  padding-left: 0;
}

.regulamin-list ol ol {
  margin-left: 1.5em;
}

.regulamin-list ol ol > li {
  list-style-type: decimal;
  margin-left: 0;
  padding-left: 0;
}

/* Responsive adjustments for mobile */
@media (max-width: 768px) {
  .regulamin-list > li,
  .regulamin-list ol > li,
  .regulamin-list ol ol > li {
      margin-left: .01em;
      // padding-left: .25em;
  }
  .regulamin-list li {
    font-size: 10px;
    margin-bottom: .3em;
    // margin-left: .01em;
      // padding-left: .25em;
  }
}